# Node
node_modules/
npm-debug.log
yarn-error.log
pnpm-lock.yaml
.env
*.env.local
/dist
/build
/.parcel-cache
/.cache
.next/

# Python
__pycache__/
*.py[cod]
*.sqlite3
backend/env/
frontend/env/

# Django
backend/staticfiles/

# TypeScript / build tsbuildinfo
*.tsbuildinfo

# Environment files
backend/.env
frontend/.env.local

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Logs
logs
*.log

# Optional
*.zip
